body {
  /* background: li near-gradient(270deg, #ffffff, #bcdbf8); */

  /* opacity: 0.5; */
}
.overlay-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200000;
}
