.my-profile-icon {
  width: 30px;
  height: 30px;
  color: #0083fd;
  margin-left: 25px;
  cursor: pointer;
}

.my-profile-icon svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .my-profile-icon {
    display: none;
  }
}
