:root {
  --link-color: black;
  --hover-color: #4ba2ff;
  --active-color: #0083fd;
}

.allNavbar {
  padding-top: 30px !important;
  background: linear-gradient(270deg, #ffffff, #bcdbf8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-link {
  font-weight: bold !important;
  color: var(--link-color) !important;
  transition: color 0.3s;
  margin-right: 14px;
  font-size: 20px !important;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--active-color);
  transition: width 0.3s;
}
.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  height: 3px;
}
.nav-link.active {
  color: var(--active-color) !important;
}
.navbar-brand {
  display: flex !important;
  color: var(--link-color) !important;
  font-weight: bold;
  margin-right: 10px !important;
  justify-content: space-between !important;
}
.not-log {
  display: flex;
  margin-left: 50px !important;
}
.active {
  color: var(--active-color) !important;
}
.navbar-nav .nav-link:hover {
  color: var(--hover-color) !important;
}

.navbar-nav .nav-link.active {
  color: var(--hover-color);
}
.navbar-expand {
  flex-wrap: nowrap;
  justify-content: space-around !important;
}
.me-auto {
  margin: auto !important;
}
.page-content {
  margin-top: 150px;
}
.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-100%);
}

@media (min-width: 992px) {
  .visible {
    transition: transform 0.5s;
  }

  .hidden {
    transition: transform 0.5s;
  }
}
.content-after-navbar {
  margin-top: 120px;
}
.me-bold {
  font-size: xx-large;
  font-weight: bolder;
  margin: auto !important;
}
.me-light {
  margin-left: -3%;
  font-size: smaller;
  font-weight: normal;
}
@media (min-width: 991px) {
  .addition-links {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .login-button {
    display: none;
  }
  .sidebar {
    display: none;
  }
}
:root {
  --link-color: black;
  --hover-color: #4ba2ff;
  --active-color: #0083fd;
}

.allNavbar {
  padding-top: 30px !important;
  background: linear-gradient(270deg, #ffffff, #bcdbf8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-link {
  font-weight: bold !important;
  color: var(--link-color) !important;
  transition: color 0.3s;
  margin-right: 14px;
  font-size: 20px !important;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--active-color);
  transition: width 0.3s;
}
.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  height: 3px;
}
.nav-link.active {
  color: var(--active-color) !important;
}
.navbar-brand {
  display: flex !important;
  color: var(--link-color) !important;
  font-weight: bold;
  margin-right: 10px !important;
  justify-content: space-between !important;
}
.not-log {
  display: flex;
  margin-left: 50px !important;
}
.active {
  color: var(--active-color) !important;
}
.navbar-nav .nav-link:hover {
  color: var(--hover-color) !important;
}

.navbar-nav .nav-link.active {
  color: var(--hover-color);
}
.navbar-expand {
  flex-wrap: nowrap;
  justify-content: space-around !important;
}
.me-auto {
  margin: auto !important;
}
.page-content {
  margin-top: 150px;
}
.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-100%);
}

@media (min-width: 992px) {
  .visible {
    transition: transform 0.5s;
  }

  .hidden {
    transition: transform 0.5s;
  }
}
.content-after-navbar {
  margin-top: 120px;
}
.me-bold {
  font-size: xx-large;
  font-weight: bolder;
  margin: auto !important;
}
.me-light {
  margin-left: -3%;
  font-size: smaller;
  font-weight: normal;
}
@media (min-width: 991px) {
  .addition-links {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .login-button {
    display: none;
  }
  .sidebar {
    display: none;
  }
}
