.forget-password-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.forget-password-container {
  width: 400px;
  padding: 50px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
}

.mail-icon {
  color: #479eef;
  font-size: 50px;
  margin: auto auto;
}

.forget-password-title {
  color: #333;
  font-size: 24px;
  margin-top: 10px;
}

.forget-password-instruction {
  font-size: 14px;
  color: #666;
  margin-top: 20px;
  margin-bottom: 30px;
  /* margin-top: 30px; */
}

.forget-password-form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  background-color: #479eef;
  border-radius: 8px;
  color: white;
  border: none;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.invalid-feedback {
  /* margin-left: -40px; */
  /* margin-top: 20px; */
}
